# Backend state - storage account details
BACKEND_RESGRP=shared
BACKEND_STORAGE_ACCOUNT=benc
BACKEND_CONTAINER=tfstate

# Backend state - auth for storage account
BACKEND_CLIENT_ID=__CHANGE_ME__
BACKEND_CLIENT_SECRET=__CHANGE_ME__
BACKEND_CLIENT_SUBID=__CHANGE_ME__
BACKEND_CLIENT_TENANTID=__CHANGE_ME__

# Auth for Terraform provider, could be the same or different than for backend state
ARM_CLIENT_ID=__CHANGE_ME__
ARM_CLIENT_SECRET=__CHANGE_ME__
ARM_SUBSCRIPTION_ID=__CHANGE_ME__
ARM_TENANT_ID=__CHANGE_ME__
